<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../Layouts/Css/LingamStyle.css">
    <link rel="shortcut icon" href="/Users/kavya/Desktop/HTML Kavya/Kavya Html /Layouts/Images/favicon.ico" type="image/x-icon">
   <title>List</title>
    
</head>
<body>
    
    <ul>
        <li><a href="#">Coffee</a></li>
        <li><a href="#">Tea</a></li>
        <li><a href="#">Coke</a></li>
        <li><a href="#">Pepsi</a></li>
        <li><a href="#">Fanta</a></li>
    </ul>
</body>
</html>