body, .container {
    background-color: #a85959; 
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

input[type="text"] {
    border: none;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #2208e4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

#taskList li {
    margin: 10px 0;
    list-style-type: none;
    cursor: pointer;
}

.task-completed {
    text-decoration: line-through;
    color: rgb(0, 255, 76);
}



