* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


.main {
    min-height: 40%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.9),
            rgba(217, 214, 214, 0.99)),
        url('../images/BrainBK1.png');
    background-position: center;
    background-size: cover;
        
}


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-content: center;
    
    
}

nav img {
    width: 120px;
    height: 80px;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    /*position: relative;*/
}

.nav-links ul li a {
    color: rgba(32, 31, 31, 0.819);
    text-decoration: none;
    font-size: 20px;
}
.icon{
    padding-left: 10px;
    color: rgb(204, 4, 127);
    font-size: 20px;
    cursor:pointer;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(219 30 84);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {

    width: 100%;

}

.text-box {
    width: 90%;
    color: rgb(51, 51, 51);
    /*position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    margin-left: 5%;
  

}

.text-box h1 {
    font-size: 3rem;
    text-align: center;
}

.text-box p {
    font-size: 18px;
    color: black;
    margin: 10px 0 40px;
    text-indent: 35%;
    text-align: justify;

}

.text-box p::first-letter {
    font-size: 3.8rem;
    font-weight: bold;
    color: rgb(204, 4, 127);
   
}



.donate-btn {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: rgb(204, 4, 127);
    border: 1px solid rgb(204, 4, 127);
    border-radius: 15px;
    padding: 12px 30px ;
    background: transparent;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
    
    .donate-btn:hover {
        border: 1px solid rgb(204, 4, 127);
        background: rgb(204, 4, 127);;
        color: #fff;
        transition: 1s;
    }

    .aboutus .header{
       
        padding: 50px;
        display: flex;
        justify-content:center;
        align-items: center;
      
    
        text-align: center;
        line-height: 0.8;
        margin-bottom: 5px;
        /*margin-top: 20px;*/
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
    }
    .aboutus .header img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .newsletter .header{
         padding: 50px;
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 50px;
        text-align: center;
        line-height: 0.8;
        margin-bottom: 5px;
        /*margin-top: 20px;*/
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
    }
     
     .newsletter .header img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
     }

   @media(max-width: 800px){

    .text-box h1 {
        font-size: 1rem;
    }
    .text-box p {
        font-size: 13px;
    }


    .nav-links ul li{
      display: block;
      
    }

    .nav-links{
        position: absolute;
        background: rgb(41, 41, 41);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }

    .nav-links ul li a {
        color: rgba(255, 255, 255, 0.819);
        text-decoration: none;
        font-size: 10px;
    }
   
    .curved svg{
        display:block;
    }


   }